<div>
    <h2>Edit Coupon</h2>
    <form [formGroup]="updateItemForm">
        <div class="form-group">
            <div class="row">
                <select placeholder="inventory Code" type="text" formControlName="inventoryCode" class="form-control">
                    <option>food</option>
                    <option>electronics</option>
                    <option>clothes</option>
                </select>
            </div>
            <div class="col-md-6">
                <input placeholder="Name" type="text" formControlName="name" class="form-control">
            </div>
            <div class="col-md-6">
                <input placeholder="Amount" type="text" formControlName="amount" class="form-control">
            </div>
            
        
        </div>
        
        <div>
            <button mat-rasied-button type="submit" class="btn btn-success" (click)="updateItem()">Edit</button>
        </div>
        <div>
            
            <button mat-rasied-button type="submit" (click)="cancel()">Cancel</button>
        </div>
        
    </form>
</div>